@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
    --primary: #FFBE00;
    --neutral: #8B8B88;
    --white: #ffffff;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.wrapper{
    max-width: 540px;
    min-width: 300px;
    margin: 0 auto ;
}

.topLine{
    height: 8px;
    border-radius: 0 0 8px 8px;
    background-color: var(--primary);
}

.insideBox {
    padding: 32px;
}

.welcomeBox{
    margin-top: 55px;
    font-size: 16px;
    line-height: 24px;
}

.link {
    color: var(--primary);
    font-weight: 600;
}

.inline{
    display: inline;
}

footer {
    padding: 32px;
    background-color: rgba(242, 242, 240, 0.56);
    border-radius: 0 0 4px 4px;
    font-size: 14px;
}

.copyrightBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.caption{
    color: var(--neutral);
}